.main-section {
    margin-left: 35%; /* Offset by the width of the sidebar */
    width: 65%; /* Takes up the remaining space */
    position: fixed;
    top:80px; /* Adjust based on NavigationBar's height */
    bottom: 56px; /* Adjust based on Footer's height */
    overflow-y: hidden; /* No scrolling needed */
}

.welcome-card {
    width: 99%; /* Make the card width equal to MainSection width */
    margin-bottom: 1rem; /* Add space below the card */
}

.welcome-message {
    font-size: 2rem; /* Large font size for the welcome message */
    color: #333333;
    margin-bottom: 1rem;
}

.search-bar {
    margin-bottom: 2rem; /* Spacing before the map area */
}

.centered-map {
    height: 70%;
    width: 80%;
    margin: auto; /* Centers the MapContainer horizontally */
    display: block; /* Use block display for proper margin handling */
}

