.main-section {
    width: 75%; /* Takes up the remaining space */
    position: fixed;
    top:80px; /* Adjust based on NavigationBar's height */
    bottom: 56px; /* Adjust based on Footer's height */
    overflow-y: hidden; /* No scrolling needed */
    justify-content: center; /* Centers content vertically */
    align-items: center;
    flex-direction: column; /* Stacks children vertically */
}

.welcome-message {
    flex: 1; /* Allows welcome message to grow and use up available space */
    font-size: 2rem;
    color: #333333;
    text-align: left; /* Aligns text to the left */
    margin-right: 1rem; /* Adds space between message and parking spots */
    background-color: #F0F2F5; /*Lighter background color */
    font-family: 'Roboto', sans-serif; /* Or any other modern font */
    font-weight: 400;
}


.welcome-card .card-body {
    display: flex; /* Enables flexbox layout */
    justify-content: space-between; /* Aligns children with space between them */
    align-items: flex-start; /* Aligns items to the top */
    background-color: #F0F2F5; /*Lighter background color */

}

.welcome-card {
    border: none; /* Remove the border */
    outline: none; /* Remove the outline (focus border) */
    background-color: #F0F2F5; /*Lighter background color */

}

.welcome-card select {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;

}

.welcome-card select:hover {
    background-color: #f0f0f0; /* Lighter background on hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Enhanced box shadow on hover */
}

.welcome-and-search {
    /* Container for the welcome message and search bar, taking necessary space */
    flex-basis: 50%; /* Adjust the width as necessary */
    display: flex;
    flex-direction: column; /* Stacks children vertically */
}

.available-spots {
    width: 50%;
}

.available-spots button {
    padding: 1rem;
    margin-bottom: 1rem; /* Adds space between the buttons */
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    background-color: #4c82b9; /* Main blue color for buttons */
    color: #fff; /* White text color for better visibility */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /* Enhanced box shadow for 3D effect */
    display: block; /* Ensures the buttons don't sit side by side */
    width: 70%; /* Makes the button extend full width of its container */
    margin-right: auto; /* Center align the button if within a flex or block container */
    margin-left: auto;
}


.available-spots button:hover {
    background-color: grey; /* grey on hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Enhanced box shadow on hover */
}

/* Adjust the SearchBar component's container */
.search-bar-container {
    margin-top: 1rem; /* Adds some space from the welcome message */
    align-self: center; /* Centers it within the welcome-and-search container */
}

/* Ensure the SearchBar itself does not stretch too wide */
.search-bar {
    width: 100%; /* Adjust this to control the dropdown width */
}

.centered-map {
    height: 70%;
    width: 80%;
    margin: auto; /* Centers the MapContainer horizontally */
    display: flex;
    justify-content: center;
    align-items: center;
}

