/* MainSection.css */

.main-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    flex-grow: 1; /* Ensure that it takes up the remaining space */
}

.welcome-card {
    width: 100%; /* Make the card width equal to MainSection width */
    margin-bottom: 1rem; /* Add space below the card */
}

.welcome-message {
    font-size: 2rem; /* Large font size for the welcome message */
    color: #333333;
    margin-bottom: 1rem;
}

/* Adjust the SearchBar component's styles if needed */
.search-bar {
    margin-bottom: 2rem; /* Spacing before the map area */
}

/* Ensure the MapArea fills the rest of the space */
.map-area {
    width: 100%;
    /* Set a minimum height or make it responsive based on your needs */
    min-height: 500px;
}
