/* NavigationBar.css */
.top-bar {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1030; /* High z-index to keep it above other content */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Adds subtle shadow for depth */
    background-color: #4c82b9; /* Main blue color for the background */
    color: #fff; /* White text color for better visibility */
    height: 80px; /* Adjust the height as needed */
}

.container {
    max-width: 100%; /* Ensures the container takes full width if needed */
    padding: 1rem; /* Add padding to the container for a better layout */
    background-color:rgb(74, 144, 226); /* Main blue color for the background */
}

/* Footer.css */
.footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 1030;
    background-color: rgb(74, 144, 226); /* Main blue color for the background */
    color: #fff; /* White text color for better visibility */
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1); /* Optional: Adds subtle shadow for depth */
    padding: 0.5rem 0; /* Reduced padding to decrease overall footer height */
    text-align: center;
}

/* Footer content styling */
.footer-content {
    /* If there is additional padding here it can be reduced or removed */
    padding: 0.5rem; /* Adjust padding as needed */
    /* Style text, links, or other elements within your footer here */
}

/* Optional: Style links or other elements within the footer */
.footer a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s; /* Smooth transition for text color */
}

.footer a:hover {
    color: #f0f0f0; /* Lighter text color on hover for a modern look */
}
