/* payment.css */

.payment-interface {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    border-radius: 8px; /* Rounded corners for a modern look */
    background-color: #F0F2F5; /* Light grey that matches your color palette */
    width: 100%; /* Full width within the container */
    border: none; /* Remove the border */
    outline: none; /* Remove the outline (focus border) */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Refined box shadow for a cleaner look */

}

.payment-interface h2 {
    margin-bottom: 1rem;
    color: #4c82b9; /* Main blue color for the h2 title */
    font-weight: bold; /* Enhance the font weight for a modern look */
}

.payment-interface p {
    margin-bottom: 1rem;
}

.payment-interface button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 8px; /* Increased border-radius for a softer look */
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s; /* Added box-shadow transition */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Initial box shadow for the button */
}

.payment-interface button:hover {
    background-color: #4c82b9; /* Main blue color on hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Enhanced box shadow on hover */
    color: #fff; /* White text on hover for better visibility */
}
