.sidebar {
    margin-left: 75%;
    width: 25%;
    position: fixed;
    top:80px; /* Adjust based on NavigationBar's height */
    bottom: 56px; /* Adjust based on Footer's height */
    left: 0;
    overflow-y: hidden; /* No scrolling needed */
    /* Add other styling as needed */
}

