.login-box {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    width: 40%;
    padding: 2rem;
    border-radius: 8px; /* Rounded corners for a modern look */
    box-shadow:
            4px 4px 8px rgba(255, 0, 0, 0.3), /* Soft outer shadow - top left (red) */
            -4px -4px 8px rgba(0, 255, 0, 0.3), /* Soft inner shadow - bottom right (green) */
            inset 4px 4px 8px rgba(0, 0, 255, 0.3), /* Soft inner shadow - top left (blue) */
            inset -4px -4px 8px rgba(255, 255, 0, 0.3); /* Soft outer shadow - bottom right (yellow) */

}
.login-box h2 {
    color: #ff6f61; /* A nice color that matches the theme */
    margin-bottom: 1rem; /* Adjusted for better spacing */
}

/* Enhanced button appearance with claymorphism effect */
.login-box button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 1rem;
}

.login-box button:hover {
    background-color: #1e90ff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    color: #fff;
}